
.navbar-expand-md
{
    background-color: #990033;
}

#navbarSupportedContent, #navbarSupportedContainer a{
    color: white;
    font-family: BRADHITC;
    font-size: 22px;
    font-weight: 900;
}

#navbarSupportedContent, #navbarSupportedContainer a:hover{
    color: black;
}

#navbarSupportedContent .dropdown-menu{
    background-color: #990033;
}
#navbarSupportedContent .dropdown-item{
    background-color: #990033;
}

@font-face {
    font-family: BRADHITC;
    src: url('/fonts/BRADHITC.TTF');
}

.mdl-button--raised.mdl-button--colored {
    background: #990033;
    color: #fff;
}

.dataTable > thead {
    background-color: #990033;
}

.dataTable > thead > tr > th {

    color: white;
}



